@import "compass";

.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .message {
        -webkit-transform: translate3d(0, 0, 0);
        position: absolute;
        top: 35%;
        opacity: 0;
        @include transition-property(left opacity);
        @include transition-duration(1.5s);

        &.prev-one {
            left: 25%;
        }

        &.focus {
            left: 0;
            opacity: 1;
        }

        &.next-one {
            left: -25%;
        }
    }
}
