@import "compass";

.zoom-in {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .message {
        -webkit-transform: translate3d(0, 0, 0);
        position: absolute;
        top: 35%;
        opacity: 0;
        @include transition-property(opacity transform);
        @include transition-duration(1s);
        @include transform(scale(0));

        &.focus {
            opacity: 1;
            @include transform(scale(1));
        }

        &.prev-one {
            @include transform(scale(100));
            opacity: 0;
        }
    }
}
